<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
        <style>
        html{
            background-color: @ViewData["background-color"];
        }
    </style>
</head>
<body>
    <div>
        colored background page
    </div>
</body>
</html>
