<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        .valid{
            color: green;
        }
        .invalid{
            color: red;
        }
    </style>
</head>
<body>
    <p class="valid">
        @ViewData["valid-email"]
    </p>
    <p class="invalid">
        @ViewData["invalid-email"]
    </p>
</body>
</html>
