<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>Useful Utilities</h1>
    <ul>
        <li><a href="~/useful/colored/">Magical Colored Background</a></li>
        <li><a href="~/useful/email?email=is@this.valid">Email Checker</a></li>
        <li><a href="~/useful/caesar-encode?text=example&number=1">Caesar Encode</a></li>
        <li><a href="~/useful/caesar-decode?text=fybnqmf&number=1">Caesar Decode</a></li>
    </ul>
</body>
</html>
