<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>Useful Utilities</h1>
    <div>
        
    </div>
</body>
</html>
