<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <form action="~/gfa-if/save" method="get">
        <label for="name">Name of student to add</label>
        <input name="name" id="name" type="text" />
        <button type="submit">Add Student</button>
    </form>
</body>
</html>
