@model bool
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @if (Model)
    {
        <p>The student is in the list!</p>
    }
    else
    {
        <p>The student isnt in the list!</p>
    }
</body>
</html>
