@model int

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
   <h1>
       Green Fox Class App
   </h1>
    <h2>Student Count: @Model</h2>
   <ul>
       <li><a href="~/gfa-if/list/">List All Students</a></li>
       <li><a href="~/gfa-if/add/">Add a student</a></li>
       <li><a href="~/gfa-if/check">Check if a student is in the list</a></li>
   </ul>
</body>
</html>
