<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @ViewData["string"]<br/>
        @Html.Raw("This is an <em>HTML</em> text. <b>Enjoy yourself!</b>")
    </div>
</body>
</html>
