@model List<BankOfSimba.Models.BankAccount>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>All Accounts</h1>
    <form action="~/increase-accounts/" method="post">
        <input type="hidden" id="increase" name="increase" value="true">
        <button type="submit" id="submit">Increase everyone's balance</button>
    </form>
    <table>
        <thead>
            <tr>
                <th></th>
                <th></th>`
                <th>Name</th>
                <th>Balance</th>
                <th>Species</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var account in Model)
            {   
                <tr>
                    @if (account.IsKing) {
                          <td>&#129332;</td>  
                    }
                    else
                    {
                        <td></td>
                    }
                    @if (!account.IsGoodGuy)
                    {
                        <td>&#128520;</td>
                    }
                    else
                    {
                        <td>&#128519;</td>
                    }
                    <td>@account.Name</td>
                    <td>@account.Balance</td>
                    <td>@account.AnimalType</td>
                </tr>
            }
        </tbody>
    </table>
    <h2>Create a new account</h2>
    <form action="~/all-accounts/" method="post">
        <label for="name">Account Holder</label>
        <input type="text" name="name" id="name" />
        <label for="balance">Starting Balance</label>
        <input type="number" name="balance" id="balance" />
        <label for="species">Species</label>
        <input type="text" name="species" id="species" />
        <input type="checkbox" name="king" id="king" />
        <lael for="king">Is a king?</lael>
        <input type="checkbox" name="goodGuy" id="goodGuy" checked="" />
        <label for="goodGuy">Is a good guy?</label>
        <button type="submit">Create a new account</button>
    </form>
</body>
</html>
