@model day05.Models.Fox

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    @Html.Partial("_navbar", Model)
    <h1>Welcome to Programmer Fox Club</h1>
    <p>Please provide a name so you can associate it with your pet!</p>
    <form action="~/login" method="post">
        <label for="name">Name</label>
        <input id="name" name="name" type="text" />
        <button type="submit">GO</button>
    </form>
</body>
</html>
