<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <form action="~/gfa/check/" method="post">
        <label for="name">Name of student to check (case sensistive)</label>
        <input type="text" id="name" name="name" />
        <button type="submit">Check</button>
    </form>
</body>
</html>
