<section class="filters">
    <h4>Filter: </h4>
    <ul>
        <li><a href="~/webshop/only-available/">Only Available</a></li>
        <li><a href="~/webshop/cheapest-first/">Cheapest First</a></li>
        <li><a href="~/webshop/contains-nike/">Contains "Nike"</a></li>
        <li><a href="~/webshop/average-stock/">Average Stock</a></li>
        <li><a href="~/webshop/most-expensive/">Most Expensive Available</a></li>
    </ul>
    <a id="moreFilters" href="~/webshop/more-filters/">More Filters ></a>
</section>