<header>
    <h1>My Shop</h1>
</header>
<hr />
<section class="filters">
    <ul>
        <li><a href="~/webshop/only-available/">Only Available</a></li>
        <li><a href="~/webshop/cheapest-first/">Cheapest First</a></li>
        <li><a href="~/webshop/contains-nike/">Contains "Nike"</a></li>
        <li><a>Average Stock</a></li>
        <li><a>Most Expensive Available</a></li>
    </ul>
</section>