<header>
    <h1><a href="~/webshop/">My Shop</a></h1>
    <form action="~/webshop/search/" method="post">
        <label for="search">
            Search For:
        </label>
        <br />
        <input id="search" type="search" name="search" placeholder="Nike, HP, etc..." />
        <button type="submit">
            Search
        </button>
    </form>
</header>