<main>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price (EUR)</th>
                <th>Quantity in Stock</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td>@item.CurrencyConvert(0.039)</td>
                        <td>@item.QtyInStock</td>
                    </tr>
                }
        </tbody>
    </table>
</main>