@model Workshop.Models.Greeting
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Getting Started: Serving Web Content</title>
</head>
<body>
    <p>
      @ViewData["Hello"] @ViewData["Name"]
    </p>
    <p>This has been called @ViewData["count"] times.</p>
</body>
</html>
