<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/styles.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
</head>
<body>
    @Html.Partial("_header")
    @Html.Partial("_filters")
    <h2>Avereage Stock: @ViewData["average"]</h2>
</body>
</html>
